*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    background-color: #003399;
    width: 100%;
    border-bottom: 1px solid #0befff;
}
.logo{
    margin: 0;
    display: flex;
    width: 70%;
    
}
.img{
    width: 82px;
    height: 75px;
    padding: 10px;
}
.collegName h2{
    color: #ffff;
    margin: 10px;
    font-size: 30px;
}
.collegName h3{
    color: #ffc107;
    margin: 10px;
}
.contact{
    margin: 10px;
    color: #ffff;
    float: right;
}
.contact1{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact2{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.contact1 img{
    width: 20px;
    height: 20px;
    background-color: #003399;
    color: #ffff;
    margin-right: 10px;
}
.contact2 img{
    width: 20px;
    width: 20px;
    background-color: #003399;
    fill: #ca0000;
    margin-right: 10px;
}
.navbar{
    display: flex;
    background-color: #003399;
}
.navbar-nav{
   display: flex;
   padding: 10px;
}

.nav-item a{
    text-decoration: none;
    color: #ffff;
    padding: 10px;
}
.navbar-nav li{
    justify-content: center;
    list-style-type: none;
}
.navbar-nav li a{
    justify-content: center;
    align-items: center;
    display: inline;
}
.icon-svg{
    width: 20px;
    height: 22px;
    fill: #ffff;
    margin-right: 5px;
    padding: 2px;
}
.nav-item a:hover{
    color: black;
    background-color: #ccffcc;
}
#menu-icon{
    margin-right: 10px;
}
#menu-icon-desc{
    margin-left: 10px;
    align-items: center;
}
marquee{
    padding: 10px;
}
marquee a{
    text-decoration: none;
    color: #29d4eb;
}
marquee a:hover{
    text-decoration: underline;
    color: blue;
}
.section-container{
    background-color: #ccffcc;
    padding: 0px 15px;
    max-width: 100%;
    height: auto;
}
.section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.section-first{
    background-color: #ffffff;
    padding: 20px;
    width: 40%;
    height: auto;
}
.unver-img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-second{
    width: 50%;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid black;
    align-items: right;

}
.section-second p{
    padding: 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.4rem;
    background-color: #6c757d;
}
.notice{
    background-color: #ffff;
    margin: 0px;
    padding: 15px;
}

.notice1 p{
    color: black;
    background-color: white;
    font-size: 1rem;
    border: 1px solid rgb(20, 255, 20);
}
.admission-portal{
    padding: 10px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 2px;

}